$darkGreen: #00945A;
$brandGreen: #7FC241;
$offWhite: #F3F3F3;
$offBlack: #323D47;
$black: #0E0E0E;
$gray: #BBBBBB;
$blueGray: #F1F6FF;
$blue: #0087ff;
$radius: 5px;
$spacing: 1rem;
$halfSpacing: 0.5rem;
$doubleSpacing: 2rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: $offWhite;
}

body {
  line-height: 1.5;
  color: #111;
  font-size: 100%;
}

h1,
h2,
h3,
p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 44px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

strong {
  font-weight: 600;
}

ul {
  margin-left: 1em;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid $gray;
  margin: 1rem 0;
}

.text-centered {
  text-align: center;
}

.rangeslider-horizontal {
  border-radius: 0 !important;
  background: $gray !important;
}

.rangeslider-horizontal .rangeslider__fill {
  background: $brandGreen !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.rangeslider-horizontal .rangeslider__handle {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2) !important;
}

.rangeslider-horizontal .rangeslider__handle::after {
  display: none !important;
}

.flat {
  margin-bottom: 0 !important;
}

.container {
  max-width: 768px;
  width: 100%;
}

.show-desktop {
  display: none !important;
}

.btn {
  display: inline-block;
  background: $darkGreen;
  color: #fff;
  height: 40px;
  line-height: 38px;
  font-size: 100%;
  padding: 0 $doubleSpacing;
  font-weight: 700;
  border-radius: $radius;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: all 375ms ease;
  text-decoration: none;
}

.btn:hover {
  background-color: lighten($darkGreen, 2.5);
}

.btn--secondary {
  background: #fff;
  line-height: 36px;
  border: 2px solid $offBlack;
  color: $offBlack;
}

.btn--secondary:hover {
  background: #fff;
}

.btn--tertiary {
  background: #fff;
  border: 0;
  height: 50px;
  display: flex;
  align-items: center;
  color: $offBlack;
  font-size: 100%;
  font-weight: 600;
  padding: 0 1.5rem;
  border-radius: 0;
}

.btn--tertiary:hover {
  background: $offWhite;
}

.btn--tertiary i {
  font-size: 20px;
  width: 24px;
  text-align: center;
  margin-right: 1rem;
}

.btn--block {
  width: 100%;
}

.form__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.form__group {
  position: relative;
  margin-bottom: 1rem;
}

.form__select {
  position: relative;
}

.form__select:after {
  font-family: 'Font Awesome 5 Pro';
  content: '\f078';
  display: block;
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 0 5px 5px 0;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blueGray;
  color: $offBlack;
  font-size: 16px;
  pointer-events: none;
}

.form__label {
  display: block;
  font-weight: 600;
  margin-bottom: $halfSpacing;
  font-size: 14px;
}

.form__label--range {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__label--range strong {
  font-size: 18px;
}

.form__label--checkbox,
.form__label--radio {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: rgba(0,0,0,0.05);
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background 375ms ease;
}

.form__label--checkbox:hover,
.form__label--radio:hover {
  background: rgba(0,0,0,0.075);
}

.form__checkbox {
  margin-right: 1rem;
}

.form__slider {
  margin-bottom: 1.5rem;
}

.form__slider--labels {
  margin-bottom: 3rem;
}

.form__slider--nolabels .rangeslider__labels {
  display: none;
}

.form__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.form__input {
  height: 50px;
  border: 2px solid $offBlack;
  border-radius: $radius;
  background: $blueGray;
  padding: 0 1rem;
  width: 100%;
  font-size: 100%;
  appearance: none;
}

.form__input--prefilled {
  border-color: $darkGreen;
}

.form__input:focus {
}

.form__suffix {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  user-select: none;
  pointer-events: none;
  font-size: 13px;
}

.card {
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.25);
  margin-bottom: 1rem;
  position: relative;
}

.card__close {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  border: 1px solid #eee;
}

.card :last-child {
  margin-bottom: 0;
}

.Alert {
  padding: 1rem;
  background: #fff;
  line-height: 1.2;
  border-left: 5px solid $brandGreen;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.App__header {
  height: 80px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  z-index: 100;
  padding: 0 1rem;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.Nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: #fff;
}

.Nav__header {
  padding: 1rem;
  background: $darkGreen;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.Nav__logo,
.App__logo {
  width: 100px;
}

.Nav__title {
  font-size: 42px;
  margin-bottom: 0;
}

.Nav__clock {
  font-size: 22px;
}

.Nav__subheader {
  font-size: 14px;
  text-transform: uppercase;
  color: #666;
  font-weight: 400;
}

.Nav__blurb {
  color: #fff;
  max-width: 360px;
}

.Nav__blurb p + p {
  margin-top: 2rem;
}

.Nav__steps {
  margin: 0;
  list-style: none;
  counter-reset: steps;
}

.Nav__content {
  position: relative;
  z-index: 10;
  margin-top: -0.5rem;
}

.Nav__steps li {
  counter-increment: steps;
  border-top: 1px solid #ddd;
}

.Nav__steps li:first-child {
  border-top: 0;
}

.Nav__link {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  color: #111;
  text-decoration: none;
  position: relative;
  opacity: 0.5;
  user-select: none;
}

.Nav__link strong,
.Nav__link small {
  display: block;
}

.Nav__counter {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 27px;
  border-radius: 50%;
  color: #fff;
  background: #222;
  font-size: 18px;
  font-weight: 700;
  margin-right: 1rem;
  font-style: normal;
}

.Nav__icon {
  position: absolute;
  right: 1rem;
  top: 2rem;
}

@keyframes showTick {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.Nav__counter--checked {
  opacity: 0;
  animation: showTick 375ms 375ms ease forwards;
}

.Nav__link--active .Nav__counter,
.Nav__link--completed .Nav__counter,
.Nav__counter--active {
  background: $darkGreen;
}

.Nav__link--active,
.Nav__link--completed {
  opacity: 1;
}

.Nav__link--active .Nav__icon,
.Nav__link--completed .Nav__icon {
  color: $darkGreen;
}

.Nav__footer {
  background: #fff;
  padding: 1rem;
  position: relative;
}

.Nav__footer:before,
.Results__hero:after,
.Summary__hero:after {
  width: 100%;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -1rem;
  width: 110%;
  margin-left: -5%;
}

.Summary__hero:after,
.Results__hero:after {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -1rem;
  z-index: 10;
}

.Slides {
  position: fixed;
  top: 0;
  background: $offWhite;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 50;
  transition: transform 200ms ease-out;
}

.Slides--open {
  transform: translateX(-100%);
}

.Slides__footer {
  background: #fff;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.25);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 50px;
  z-index: 50;
  justify-content: space-between;
  position: fixed;
  top: calc(100% + 1rem);
  left: 0;
  width: 100%;
  transition: transform 375ms ease;
}

.Slides__footer--visible {
  transform: translateY(calc(-100% - 1rem));
}

.Slides__footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Slides__slide {
  padding: 1rem;
  padding-bottom: calc(50px + 1rem);
}

.Slides__slide--nofooter {
  padding-bottom: 1rem;
}

.Slides__title {
  display: flex;
  align-items: center;
  font-size: 30px;
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray;
  margin-bottom: 1rem;
}

.Slides__title .Nav__counter {
  position: relative;
  top: 2px;
}

.Slides__back {
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: $offBlack;
}

.OtherIncome__action,
.RetirementGoals__action {
  margin-top: 2rem;
}

.Plan {
  background: #fff;
  border-radius: $radius;
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
}

.Plan__input {
  display: none;
}

.Plan__circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid $black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Plan__circle:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: $darkGreen;
  border-radius: 50%;
  display: none;
}

.Plan__circle--selected:before {
  display: block;
}

.Plan__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  line-height: 1.2;
  padding-left: 1rem;
}

.Plan__info {
  text-align: center;
  margin-right: -10px;
  color: $blue;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Plan__info span {
  display: none;
  font-size: 14px;
}

.Plan__info i {
  font-size: 20px;
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.Plan__name {
  font-size: 16px;
}

.Modal {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
}

.Modal--open {
  transform: translateX(-100%);
}

@keyframes showCard {
  from {
    opacity: 0;
    transform: translateY(100%)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

.Modal__card {
  background: #fff;
  border-radius: $radius;
  position: relative;
  opacity: 0;
  width: 100%;
  transform: translateY(100%);
  overflow: hidden;
  max-width: 480px;
  animation: showCard 375ms ease forwards;
}

.Modal__card--scrollable {
  height: 100%;
}

.Modal--open .Modal__card {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1s;
}

.Modal__scroll {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: auto;
}

.Modal__hero {
  background: $gray;
  height: 150px;
}

.Modal__content {
  padding: 1rem;
  padding-bottom: calc(60px + 1rem);
}

.Modal__content ul li {
  margin-bottom: 0.25rem;
}

.Modal__content--tight {
  padding-left: 0;
  padding-right: 0;
}

.Modal__list {
  margin-left: 0;
  width: 100%;
}

.Modal__list li {
  margin-bottom: 1px;
}

.Modal__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 0 1rem;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
  background: #fff;
}

.IdealRetirement__custom {
  padding-top: 0.5rem;
}

.Projected {
  color: #fff;
  text-align: center;
}

@media(max-width: 767px) {
  .Slides__wrap {
    scroll-behavior: smooth;
    overflow-y: auto;
  }
}

.Results,
.Summary {
  overflow: hidden;
}

.Results__hero,
.Summary__hero {
  background: $darkGreen;
  padding: 1rem;
  padding-top: 2rem;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}

.Summary__hero {
  padding-bottom: 4rem;
  color: #fff;
}

.Summary__logo {
  margin-bottom: 2rem;
}

.Summary__body {
  background: #fff;
  padding: 1rem;
}

.Summary__block {
  margin-bottom: 2rem;
}

.Results__goal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Results__goal-link {
  color: $brandGreen;
  font-weight: 700;
}

.Results__age {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  margin-bottom: -4rem;
  opacity: 0;
  transition: all 375ms ease;
  position: relative;
  z-index: 50;
}

.Results__age-bg {
  position: absolute;
  width: 220px;
  height: 220px;
  background: #527d2a;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  z-index: 2;
}

.Results__pie {
  position: relative;
  z-index: 5;
}

.Results__title {
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 0.5rem;
}

.Results__blurb {
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: all 357ms ease;
}

.Results__hr {
  margin: 2rem 0 1.5rem 0;
}

.Results--loaded {
  .Results__blurb {
    opacity: 1;
    transform: translateY(0);
  }
  .Results__age {
    opacity: 1;
    transform: translateY(0);
  }
}

.Results__title strong {
  font-weight: 700;
}

@keyframes showCopy {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Results__copy {
  position: absolute;
  z-index: 20;
  display: flex;
  flex-direction: column;
  width: 120px;
  text-align: center;
  line-height: 1;
  opacity: 0;
  transform: translateY(1rem);
  animation: showCopy 375ms 750ms ease forwards;
}

.Results__copy strong {
  font-size: 66px;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.Results__body {
  position: relative;
  padding: 1rem;
  padding-top: 3.5rem;
  background: #fff;
}

.Results__action {
  margin-top: 3rem;
}

@keyframes showIncomeCard {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.IncomeCard {
  opacity: 0;
  transform: translateY(2rem) scale(0.9);
  animation: showIncomeCard 357ms ease forwards;
}

@media(min-width: 1024px) {

  .form__row--desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .form__label {
    font-size: 16px;
  }

  .App__header {
    display: flex;
    align-items: center;
  }

  .Nav {
    width: calc(100vw - 66%);
    position: fixed;
    left: 0;
    top: 80px;
    height: 100%;
    z-index: 100;
    justify-content: flex-start;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  }

  .Nav,
  .Slides {
    height: calc(100% - 80px) !important;
  }

  .Nav__header {
    flex: none;
    padding-bottom: 4rem;
    align-items: flex-end;
  }

  .Nav__footer {
    display: flex;
    justify-content: flex-end;
  }

  .Nav__content {
    width: 360px;
  }

  .Nav__logo {
    display: none;
  }

  .Nav__title {
    font-size: 54px;
  }

  .Slides {
    position: relative;
    height: auto;
    padding-left: calc(100vw - 66%);
    width: auto;
    height: auto;
    left: auto;
    padding-top: 100px;
  }

  .Slides__wrap {
    height: auto !important;
  }

  .Slides__wrap {
    padding: 0 2rem;
  }

  .Slides__footer {
    position: fixed;
    width: 100%;
    padding: 2rem;
    border-top: 1px solid #ddd;
    background: $offWhite;
    box-shadow: none;
    padding-left: calc(100vw - 66%);
  }

  .Slides__back {
    margin-left: -1rem;
  }

  .Slides__back--first {
    display: none;
  }

  .Slides__footer .container {
    margin-left: 3rem;
  }

  .Slides__footer .container div:last-child {
    margin-left: auto;
  }

  .Slides--open {
    transform: translateX(0);
  }

  .show-mobile {
    display: none !important;
  }

  .show-desktop {
    display: block !important;
  }

  .Modal {
    align-items: center;
  }
  
  .Modal__card {
    max-height: 600px;
  }

  .IncomeCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .GoalCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .Results__hero {
    margin: -3rem;
    margin-bottom: 2rem;
    background: $offBlack;
  }

  .Plan__info span {
    display: inline
  }

}
