$darkGreen: #00945A;
$brandGreen: #7FC241;
$offWhite: #F3F3F3;
$offBlack: #323D47;
$black: #0E0E0E;
$gray: #BBBBBB;
$blueGray: #F1F6FF;
$blue: #0087ff;
$radius: 5px;
$spacing: 1rem;
$halfSpacing: 0.5rem;
$doubleSpacing: 2rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: $offWhite;
}

img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  color: $offBlack;
  font-size: 100%;
  overflow-y: scroll;
}

ul li {
  margin-bottom: 0.25rem;
}

h1,
h2,
h3,
p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

strong {
  font-weight: 600;
}

ul {
  margin-left: 1em;
}

a,
.link {
  color: $darkGreen;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
.link:hover {
  text-decoration: underline;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid $gray;
  margin: 1rem 0;
}

.hr-double {
  margin: 1.5rem 0;
}

.text-centered {
  text-align: center;
}

.rangeslider-horizontal {
  border-radius: 0 !important;
  background: $gray !important;
}

.rangeslider-horizontal .rangeslider__fill {
  background: $brandGreen !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.rangeslider-horizontal .rangeslider__handle {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2) !important;
}

.rangeslider-horizontal .rangeslider__handle::after {
  display: none !important;
}

.rangeslider, .rangeslider .rangeslider__fill  {
  box-shadow: none !important;
  background: $gray;
}

.flat {
  margin-bottom: 0 !important;
}

.pressed {
  margin-bottom: 0.5rem !important;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.container--large {
  max-width: 1024px;
}

.show-desktop {
  display: none !important;
}

.btn {
  display: inline-block;
  background: $darkGreen;
  color: #fff;
  height: 40px;
  line-height: 38px;
  font-size: 100%;
  padding: 0 $doubleSpacing;
  font-weight: 700;
  border-radius: $radius;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: all 375ms ease;
  text-decoration: none;
}

.btn[disabled] {
  opacity: 0.25;
  cursor: default;
}

.btn--secondary {
  background: #fff;
  line-height: 36px;
  border: 2px solid $offBlack;
  color: $offBlack;
  &.selected {
    border-color: $darkGreen;
    color: $darkGreen;
  }
}

.btn--tertiary {
  background: none;
  line-height: 36px;
  border: 2px solid $brandGreen;
  color: $brandGreen;
  &:hover {
    background: $brandGreen !important;
    color: #fff;
  }
}

.btn--large {
  height: 60px;
  line-height: 58px;
  font-size: 18px;
  padding: 0 4rem;
}

.btn--hero {
  background: $brandGreen;
  color: #fff;
  transition: box-shadow 375ms ease;
}

.btn--iconleft i {
  margin-right: 1rem;
}

.btn--iconright i {
  margin-left: 1rem;
}

.btn:hover {
  text-decoration: none;
  background-color: lighten($darkGreen, 2.5);
}

.btn--secondary:hover {
  background: #fff;
}

.btn--hero:hover {
  background: $brandGreen;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.form {
  text-align: left;
}

.form__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  position: relative;
}

.form__group {
  position: relative;
  margin-bottom: 1rem;
}

.form__field {
  position: relative;
}

.form__select {
  position: relative;
}

.form__select:after {
  font-family: 'Font Awesome 5 Pro';
  content: '\f078';
  display: block;
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 0 5px 5px 0;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blueGray;
  color: $offBlack;
  font-size: 16px;
  pointer-events: none;
}

.form__select--inline {
  position: absolute;
  right: 1rem;
  top: 12px;
}

.form__select--inline select {
  appearance: none;
  background: none;
  border: 0;
  font-size: 100%;
  padding-right: 36px;
}

.form__select--inline:after {
  top: 6px;
}

.form__label {
  display: block;
  font-weight: 600;
  margin-bottom: $halfSpacing;
  font-size: 14px;
}

.form__label--toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__label--range {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__label--range strong {
  font-size: 18px;
}

.form__label--checkbox,
.form__label--radio {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: rgba(0,0,0,0.05);
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background 375ms ease;
  border: 0;
  font-weight: 600;
  font-family: inherit;
  color: inherit;
  i {
    font-size: 14px;
    margin-right: 1rem;
  }
}

.form__label--clear {
  padding: 0;
  background: none;
  align-items: flex-start;
}

.form__label--clear .form__checkbox {
  margin-top: 0.5rem;
}

.form__label--checkbox:hover,
.form__label--radio:hover {
  background: rgba(0,0,0,0.075);
}

.form__label--clear:hover {
  background: none;
}

.form__switch {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.form__switch .Switch {
  margin: 0 0.5rem;
}

.form__checkbox {
  margin-right: 1rem;
}

.form__toggle {
  color: $darkGreen;
  cursor: pointer;
}

.form__slider {
  margin-bottom: 1.5rem;
}

.form__slider--labels {
  margin-bottom: 3rem;
}

.form__slider--nolabels .rangeslider__labels {
  display: none;
}

.form__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.form__input {
  height: 50px;
  border: 2px solid $offBlack;
  border-radius: $radius;
  background: $blueGray;
  padding: 0 1rem;
  width: 100%;
  font-size: 100%;
  appearance: none;
}

.form__input--prefilled {
  border-color: $darkGreen;
}

.form__input:focus {
}

.form__submit {
  display: flex;
}

.form__submit .btn {
  height: 50px;
  border: 2px solid #323D47;
}

.form__suffix {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  user-select: none;
  pointer-events: none;
  font-size: 13px;
}

.card {
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.25);
  margin-bottom: 1rem;
  position: relative;
}

.card__close {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  border: 1px solid #eee;
}

.card :last-child {
  margin-bottom: 0;
}

.AboutYou__contributions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Alert {
  padding: 1rem;
  background: #fff;
  line-height: 1.2;
  border-left: 5px solid $darkGreen;
  margin-bottom: 1rem;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.Alert__link {
  text-decoration: none;
}

.App__header {
  height: 80px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  z-index: 100;
  padding: 0 1rem;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.Nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: #fff;
}

.Nav__header {
  padding: 1rem;
  background: linear-gradient(35deg, #00945A 57.39%, #7FC241 106.02%);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.Nav__logo,
.App__logo {
  width: 100px;
}

.Nav__inline-logo {
  display: none;
}

.Nav__title {
  font-size: 42px;
}

.Nav__clock {
  font-size: 22px;
}

.Nav__subheader {
  font-size: 14px;
  text-transform: uppercase;
  color: #666;
  font-weight: 400;
}

.Nav__blurb {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Nav__blurb p {
  max-width: 510px;
}

.Nav__blurb p + p {
  margin-top: 2rem;
}

.Nav__steps {
  margin: 0;
  list-style: none;
  counter-reset: steps;
}

.Nav__hero {
  display: none;
}

.Nav__content {
  position: relative;
  z-index: 10;
  margin-top: -0.5rem;
  max-width: 820px;
  margin: 0 auto;
}

.Nav__track {
  position: absolute;
  top: calc(100% + (1rem - 5px));
  height: 5px;
  width: 100%;
  background: $offWhite;
  overflow: hidden;
  display: none;
}

.Nav__track-bar {
  position: absolute;
  top: 0;
  right: 100%;
  width: 33.3333333333%;
  height: 100%;
  background: $brandGreen;
  transition: transform 375ms ease;
}

.Nav__track-bar--0 { transform: translateX(100%) }
.Nav__track-bar--1 { transform: translateX(200%) }
.Nav__track-bar--2 { transform: translateX(300%) }

.Nav__steps li {
  counter-increment: steps;
  border-top: 1px solid #ddd;
}

.Nav__steps li:first-child {
  border-top: 0;
}

.Nav__link {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  color: #111;
  text-decoration: none;
  position: relative;
  opacity: 0.5;
  user-select: none;
  font-weight: normal;
  &:hover {
    text-decoration: none;
  }
}

.Nav__link strong,
.Nav__link small {
  display: block;
}

.Nav__counter {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 27px;
  border-radius: 50%;
  color: #fff;
  background: #222;
  font-size: 18px;
  font-weight: 700;
  margin-right: 1rem;
  font-style: normal;
}

.Nav__icon {
  position: absolute;
  right: 1rem;
  top: 2rem;
}

@keyframes showTick {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.Nav__counter--checked {
  opacity: 0;
  animation: showTick 375ms 375ms ease forwards;
}

.Nav__link--active .Nav__counter,
.Nav__link--completed .Nav__counter,
.Nav__counter--active {
  background: $darkGreen;
}

.Nav__link--active,
.Nav__link--completed {
  opacity: 1;
}

.Nav__link--active .Nav__icon,
.Nav__link--completed .Nav__icon {
  color: $darkGreen;
}

.Nav__footer {
  background: #fff;
  padding: 1rem;
  position: relative;
}

.Nav__footer:before,
.Results__hero:after {
  width: 100%;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -1rem;
  width: 110%;
  margin-left: -5%;
}

.Nav__action {
  display: none;
}

.Results__hero:after {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -1rem;
  z-index: 10;
}

.Settings {
  cursor: pointer;
  font-size: 14px;
}

.Settings__label {
  margin-left: 0.5rem;
}

.Slides {
  position: fixed;
  top: 0;
  background: $offWhite;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 50;
  transition: transform 200ms ease-out;
}

.Slides--open {
  transform: translateX(-100%);
}

.Slides__footer {
  background: #fff;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.25);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 50px;
  z-index: 50;
  justify-content: space-between;
  position: fixed;
  top: calc(100% + 1rem);
  left: 0;
  width: 100%;
  transition: transform 375ms ease;
}

.Slides__footer--visible {
  transform: translateY(calc(-100% - 1rem));
}

.Slides__footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Slides__slide {
  padding: 1rem;
  padding-bottom: calc(50px + 2rem);
}

.Slides__slide--nofooter {
  padding-bottom: 1rem;
}

.Slides__title {
  display: flex;
  align-items: center;
  font-size: 30px;
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray;
  margin-bottom: 1rem;
}

.Slides__title .Nav__counter {
  position: relative;
  top: 2px;
}

.Slides__back {
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: $offBlack;
  margin-left: -1rem;
}

.OtherIncome__action,
.RetirementGoals__action {
  margin-top: 2rem;
}

.plans__list > div {
  margin-bottom: 1rem;
}

.plans__content {
  display: none;
}

.plans__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.tooltip {
  position: relative;
  text-align: left;
}

.tooltip__icon {
  margin-right: 1rem;
}

.tooltip__icon {
  cursor: pointer;
}

.tooltip__content {
  display: none;
  position: absolute;
  width: calc(100vw - 2rem);
  right: 0;
  top: 2.25rem;
  font-size: 13px;
  background: #fff;
  padding: 1rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  border-radius: 5px;
  max-width: 280px;
  &:before {
    content: '';
    position: absolute;
    right: 14px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
  }
  p { margin-bottom: 0 }
}

.tooltip__content--open {
  display: block;
}

.tooltip__footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.Plan {
  background: #fff;
  border-radius: $radius;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  height: 80px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: box-shadow 375ms ease;
}

.Plan--selected,
.Plan:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.Plan__input {
  display: none;
}

.Plan__person {
  margin-left: 0.5rem;
  font-size: 12px;
}

.Plan__circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid $black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Plan__circle:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: $darkGreen;
  border-radius: 50%;
  display: none;
}

.Plan__circle--selected:before {
  display: block;
}

.Plan__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  line-height: 1.2;
  padding-left: 1rem;
}

.Plan__value {
  font-size: 13px;
}

.Plan__info {
  text-align: center;
  margin-right: -10px;
  color: $blue;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Plan__info span {
  display: none;
  font-size: 14px;
}

.Plan__info i {
  font-size: 20px;
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.Plan__name {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.Modal {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
}

.Modal--open {
  transform: translateX(-100%);
}

@keyframes showCard {
  from {
    opacity: 0;
    transform: translateY(100%)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

.Modal__card {
  background: #fff;
  border-radius: $radius;
  position: relative;
  opacity: 0;
  width: 100%;
  transform: translateY(100%);
  overflow: hidden;
  max-width: 480px;
  animation: showCard 375ms ease forwards;
}

.Modal__card--scrollable {
  height: 100%;
}

.Modal--open .Modal__card {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1s;
}

.Modal__scroll {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: auto;
}

.Modal__hero {
  background: $gray;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.Modal__content {
  padding: 1rem;
  padding-bottom: calc(60px + 2rem);
}

.Modal__content--tight {
  padding-left: 0;
  padding-right: 0;
}

.Modal__list {
  margin-left: 0;
  width: 100%;
}

.Modal__list li {
  margin-bottom: 1px;
}

.Modal__cancel {
  margin-right: 2rem;
}

.Modal__option {
  background: #fff;
  border: 0;
  height: 50px;
  display: flex;
  align-items: center;
  color: $offBlack;
  font-size: 100%;
  font-weight: 600;
  padding: 0 1.5rem;
  border-radius: 0;
  cursor: pointer;
}

.Modal__option:hover {
  background: $offWhite;
}

.Modal__option i {
  font-size: 20px;
  width: 24px;
  text-align: center;
  margin-right: 1rem;
}

.Modal__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 0 1rem;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
  background: #fff;
}

.IdealRetirement__custom {
  padding-top: 0.5rem;
}

.IdealRetirement__slider {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.Projected {
  color: #fff;
  text-align: center;
}

@media(max-width: 767px) {

  .btn--block {
    width: 100%;
  }

  .Results__action {
    display: block;
  }

  .Nav__title {
    margin-bottom: 0.5rem;
  }

  .Nav__footer {
    padding-top: 0;
  }

  .Slides__wrap {
    scroll-behavior: smooth;
    overflow-y: auto;
  }
}

.Results {  
  overflow: hidden;
}

.Results__link {
  color: $brandGreen;
}

.Results__hero {
  background: linear-gradient(35deg, #00945A 57.39%, #7FC241 106.02%);
  padding: 1rem;
  padding-top: 4rem;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}

.Results__settings {
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.Summary__block {
  margin-bottom: 2rem;
}

.Results__goals-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  h2 {
    margin-bottom: 0;
  }
}

.Results__add-link {
  color: $darkGreen;
  font-size: 14px;
  font-weight: 700;
}

.Results__age {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  margin-bottom: -4rem;
  opacity: 0;
  transition: all 375ms ease;
  position: relative;
  z-index: 50;
}

.Results__age-bg {
  position: absolute;
  width: 220px;
  height: 220px;
  background: #527d2a;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  z-index: 2;
}

.Results__pie {
  position: relative;
  z-index: 5;
}

.Results__title {
  text-align: center;
  color: #fff;
}

.Results__blurb {
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: all 357ms ease;
}

.Results__hr {
  margin: 3rem 0 1.5rem 0;
  opacity: 0.5;
}

.Results__consolidate {
  padding: 5rem 0;
  box-shadow: 0 20px 20px rgba(0,0,0,0.15);
  position: relative;
}

.Results__consolidate h1 {
  margin-bottom: 0.5rem;
}

.Results--loaded {
  .Results__blurb {
    opacity: 1;
    transform: translateY(0);
  }
  .Results__age {
    opacity: 1;
    transform: translateY(0);
  }
}

.Results__title strong {
  font-weight: 700;
}

@keyframes showCopy {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Results__copy {
  position: absolute;
  z-index: 20;
  display: flex;
  flex-direction: column;
  width: 120px;
  text-align: center;
  line-height: 1;
  opacity: 0;
  transform: translateY(1rem);
  animation: showCopy 375ms 750ms ease forwards;
}

.Results__copy strong {
  font-size: 66px;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.Results__body {
  position: relative;
  padding: 4rem 0 3rem 0;
  background: #fff;
}

.Results__footer {
  background: $offBlack;
  color: #fff;
  padding: 5rem 1rem;
}

.Results__block {
  margin-bottom: 3rem;
  text-align: center;
}

.Results__block--divided {
  padding-top: 3rem;
  border-top: 1px solid rgba(255,255,255,0.25);
  text-align: left;
}

.Results__block--divided img {
  display: none;
}

.Results__block img {
  height: 120px;
  margin-bottom: 1rem;
}

.Results__block p {
  color: $gray;
}

.Results__action {
  margin-top: 1rem;
}

.Results__cta {
  margin-top: 1rem;
}

.Results__footer nav {
  margin-left: -1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.Results__legal {
  text-align: center;
  margin-top: 2rem;
}

.Results__legal a {
  display: inline-block;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}

.Results__legal a:hover {
  text-decoration: none;
}

.Results__footer small {
  opacity: 0.5;
  text-align: center;
}

.RetirementPlans {
  border-collapse: collapse;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.RetirementPlans th {
  text-align: center;
  font-weight: 500;
  background: #fff;
  padding: 1rem;
  padding-bottom: 1.5rem;
  border-left: 1px solid darken($offWhite, 10);
}

.RetirementPlans__standard {
  position: relative;
}

.RetirementPlans__standard .tooltip {
  position: absolute;
  right: 0;
}

.RetirementPlans th:first-child {
  background: lighten($offBlack, 10);
  width: 60px;
}

.RetirementPlans td:first-child,
.RetirementPlans th:first-child,
.RetirementPlans th:nth-child(2),
.RetirementPlans td:nth-child(2) {
  border-left: 0;
}

.RetirementPlans th > div {
  margin: -1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  font-size: 13px;
  border-bottom: 1px solid #ddd;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RetirementPlans th > div img {
  width: 60px;
}

.RetirementPlans th h3 {
  font-size: 20px;
}

.RetirementPlans th i {
  margin-left: 1rem;
}

.RetirementPlans__select {
  display: none;
  width: 160px;
  transition: none;
}

.RetirementPlans td {
  background: #f8f8f8;
  padding: 0 1rem;
  font-size: 15px;
  height: 70px;
  border-left: 1px solid darken($offWhite, 10);
}

.RetirementPlans img {
  width: 50px;
}

.RetirementPlans tr:nth-child(even) td {
  background: #f0f0f0;
}

.RetirementPlans td:first-child {
  background: $offBlack;
}

.RetirementPlans tr:nth-child(even) td:first-child {
  background: lighten($offBlack, 10);
}

@keyframes showIncomeCard {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.IncomeCard {
  opacity: 0;
  transform: translateY(2rem) scale(0.9);
  animation: showIncomeCard 357ms ease forwards;
}

@media(min-width: 1024px) {

  .form__toggle {
    margin-left: 1.5rem;
  }

  .form__row--desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .form__label {
    font-size: 16px;
  }

  .App__header {
    display: flex;
    align-items: center;
  }

  .Nav {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh !important;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    transition: transform 375ms ease-out;
  }

  .Nav__track {
    display: block;
    opacity: 0;
  }

  .Nav__logo {
    width: 150px;
  }

  .Nav__inline-logo {
    display: block;
    width: 100px;
    position: absolute;
    z-index: 50;
    left: 0;
    top: 0.75rem;
    margin-left: -75px;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 375ms ease;
  }

  .Nav--hidden .Nav__inline-logo {
    transform: translateX(0);
    opacity: 1;
  }

  .Nav--hidden .Nav__steps {
    transform: translateX(calc(75px + 2rem));
  }

  .Nav--hidden .Nav__track {
    opacity: 1;
  }

  .Nav__header {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .Nav__hero {
    display: block;
    background: rgba(0,0,0,0.25);
    background-size: cover;
    background-position: center;
    margin: -2rem;
    margin-right: 0;
  }

  .Nav__title {
    font-size: 54px;
  }

  .Nav__steps {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: transform 375ms ease;
  }

  .Nav__icon {
    display: none;
  }

  .Nav__steps li {
    border-top: 0;
  }

  .Nav__blurb {
    padding: 2rem;
    position: relative;
    font-size: 18px;
    line-height: 1.5;
  }

  .Nav__action {
    display: block;
    margin-top: 2rem;
  }

  .Nav--hidden {
    transform: translateY(calc(-100% + 100px));
  }

  .Slides {
    position: relative;
    height: auto;
    width: auto;
    height: auto;
    left: auto;
    padding-top: 100px;
  }

  .Slides__wrap {
    height: auto !important;
    padding: 0;
  }

  .Slides__slide {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: calc(50px + 4rem);
  }

  .Slides__footer {
    position: fixed;
    width: 100%;
    padding: 2rem;
    border-top: 1px solid #ddd;
    background: $offWhite;
    box-shadow: none;
    display: flex;
    justify-content: center;
  }

  .Slides__back {
    margin-left: -1rem;
  }

  .Slides--open {
    transform: translateX(0);
  }

  .show-mobile {
    display: none !important;
  }

  .show-desktop {
    display: block !important;
  }

  .Modal {
    align-items: center;
  }
  
  .Modal__card {
    max-height: 600px;
  }

  .IncomeCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .GoalCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .Results__actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
  }

  .Results__consolidate .container {
    display: flex;
    align-items: center;
  }

  .Results__consolidate .container div {
    margin-left: 2rem;
  }

  .Results__blurb {
    font-size: 24px;
    max-width: 620px;
    margin: 0 auto;
  }

  .Results__block--divided .Results__wrap {
    max-width: 85%;
    margin: 0 auto;
  }

  .Results__blurb br {
    display: none;
  }

  .Results__footer-title {
    margin-bottom: 4rem;
  }

  .Results__decisions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    margin-top: 2rem;
  }

  .Plan__info {
    display: none;
  }

  .Plan__info span {
    display: inline
  }

  .plans {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2rem;
    margin: 2rem 0;
  }

  .plans__content {
    display: block;
  }

}
